@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos CSS Vanilla */
.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilos CSS Tailwind */

@layer base {
  :root {
    --text-redux-color: rgb(112, 76, 182);
    --background-redux-color: rgba(112, 76, 182, 0.1);
    --button-redux-color: rgba(112, 76, 182, 0.4);
    --button-redux-color-alt: rgba(112, 76, 182, 0.4);
  }
}

@layer components {
  .input-container {
    @apply relative;
  }

  .input-text {
    @apply h-10 
    w-64 
    2s:w-80
    border-l-0
    border-t-0
    border-r-0
    border-b-2 
    border-gray-300 
    bg-transparent 
    text-black 
    placeholder-transparent 
    focus:border-rose-600 
    focus:ring-0
    focus:outline-none;
  }

  .label-text {
    @apply absolute 
    left-0 
    -top-6
    text-sm 
    ml-5
    font-bold
     
    transition-all 
    peer-placeholder-shown:top-2 
    peer-placeholder-shown:text-base 
    
    peer-focus:-top-6 
    peer-focus:text-sm 
    peer-focus:ml-0
    peer-focus:text-lime-700;
  }

  .input-select {
    @apply w-64 
    2s:w-80 
    block 
    py-2 
    pl-3 
    pr-8 
    text-gray-900 
    bg-white border 
    border-gray-300 
    rounded 
    placeholder-transparent
    focus:outline-none 
    focus:ring 
    focus:border-blue-500 
    transition 
    duration-300 
    appearance-none;
  }

  .containervalues {
    @apply flex
    flex-col
    gap-5;
  }
  .row {
    @apply flex 
    flex-row
    items-center justify-center
    gap-4
    content-center;
  }
  .incremental {
    @apply text-3xl     
    py-2 
    px-3 
    w-16 
    text-center 
    border;
  }
  .button {
    @apply appearance-none 
    text-3xl 
    outline-none 
    text-[--text-redux-color] 
    py-2 
    px-3
    border
    border-[--button-redux-color]
    cursor-pointer 
    bg-[--background-redux-color] 
    rounded-sm 
    transition-all;
  }
  .button:hover,
  .button:focus {
    @apply border-[--button-redux-color];
  }
  .button:active {
    @apply border-[--button-redux-color-alt];
  }
}
